<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New ticket for approval</title>
</head>
<body>
<p>Dear Managers,</p>
<br>
<p>New ticket
    <a th:href= "@{http://localhost:8080/api/v1/tickets/{id}(id=${id})}" th:text=${id}></a>
    is waiting for your approval.</p>
</body>
</html>