<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback was provided</title>
</head>
<body>
<p th:text="${'Dear ' + firstName + ' ' + lastName}"></p>
<br>
<p>The feedback was provided on ticket
    <a th:href= "@{http://localhost:8080/api/v1/tickets/{id}(id=${id})}" th:text=${id}></a>.</p>
</body>
</html>