<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket was approved</title>
</head>
<body>
<p>Dear Users,</p>
<br>
<p>Ticket
    <a th:href= "@{http://localhost:8080/api/v1/tickets/{id}(id=${id})}" th:text=${id}></a>
    was approved by the Manager.</p>
</body>
</html>