<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket was declined</title>
</head>
<body>
<p th:text="${'Dear ' + firstName + ' ' + lastName}"></p>
<br>
<p>Ticket
    <a th:href= "@{http://localhost:8080/api/v1/tickets/{id}(id=${id})}" th:text=${id}></a>
    was declined by the Manager.</p>
</body>
</html>